<div class="module">
  <div class="ff-background">
    <h1>Admin page</h1>
    <h2>Want to add new posts ?</h2>
  </div>
  <div class="space-div-5"></div>
  <div class="displayTable">
    <div class="center-div">
      <div class="authBlock">
        <mat-button-toggle-group value="{{toggleValue}}">
          <mat-button-toggle [disabled]="isModifying" value="Create">
            <span>Create</span>
          </mat-button-toggle>
          <mat-button-toggle [disabled]="!isModifying" value="Modify">
            <span>Modify</span>
          </mat-button-toggle>
        </mat-button-toggle-group>
        <div class="formGroup">
          <mat-form-field class="example-form-field">
            <mat-label>Title</mat-label>
            <input matInput type="text" [(ngModel)]="currentPostTitle">
            <button mat-button *ngIf="currentPostTitle" matSuffix mat-icon-button aria-label="Clear" (click)="currentPostTitle=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="formGroup">
          <mat-form-field class="example-form-field">
            <mat-label>Content</mat-label>
            <textarea matInput type="text" [(ngModel)]="currentPostContent"></textarea>
            <button mat-button *ngIf="currentPostContent" matSuffix mat-icon-button aria-label="Clear" (click)="currentPostContent=''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="formGroup">
          <mat-form-field class="example-form-field">
            <mat-label>Category</mat-label>
            <input type="text"
                   placeholder="Category"
                   aria-label="Category"
                   matInput
                   [formControl]="myControl"
                   [matAutocomplete]="auto"
                   [(ngModel)]="currentPostCategory">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="formGroup">
          <img [src]=oldPostUrl height="200"> <br/>
          <img [src]=newPostUrl height="200"> <br/>
          <input type='file' (change)="onSelectFile($event)">
        </div>
        <div class="space-div-1"></div>
        <div class="formGroup">
          <button mat-raised-button color="primary" (click)="submitForm()">Submit</button>
          <button mat-raised-button (click)="cancelModifying()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <div class="space-div-1"></div>
  <mat-divider></mat-divider>
  <div fxLayout="row wrap" fxLayoutAlign="flex-start">
    <ng-container *ngFor="let item of items | async; let i = index">
      <mat-card *ngIf="(this.limit == null || i < this.limit) && (item.categories == this.filter || this.filter == '')" class="example-card" fxFlex="{{breakpoint}}" (window:resize)="onResize($event)" style="margin: 8px 8px">
        <mat-card-header>
          <mat-card-title style="font-size: 16px; padding-bottom: 10px">{{item.title}}</mat-card-title>
        </mat-card-header>
        <div style="height: 250px; margin-left: 30px">
          <img mat-card-image src="https://firebasestorage.googleapis.com/v0/b/angularblog-e02d1.appspot.com/o/blogs%2F{{item.image_name}}?alt=media" style="height: 100%; width: 100%; object-fit: cover">
        </div>
        <mat-card-content>
          <p style="text-align: justify">
            {{item.content}}
          </p>
          <p style="text-align: right">
            by: {{item.author}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="['/blog']" [queryParams]="[item.image_name, item.title, item.content, item.author]">View more</button>
        </mat-card-actions>
        <mat-card-actions>
          <button mat-raised-button (click)="toggleModifying(item.title, item.content, item.image_name, item.categories)">Modify</button>
          <button mat-raised-button color="primary"(click)="deleteBlog(item.image_name)">Delete</button>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </div>
</div>
