<div class="module">
  <div class="ff-background">
    <h1>Blogs page</h1>
    <h2>All big gamos and members of the family in F&F are here</h2>
  </div>
  <div class="">
    <div class="space-div-1"></div>
    <h4>Add a filter</h4>
    <mat-form-field appearance="fill">
      <select matNativeControl [(ngModel)]="selectedValue" name="category">
        <option *ngFor="let category of categories" [value]="category.value">
          {{category.viewValue}}
        </option>
      </select>
    </mat-form-field>
  </div>
  <app-caroussel filter="{{selectedValue}}"></app-caroussel>
</div>
