<div class="center-div">
  <h3>ABOUT US</h3>
  <div class="space-div-1"></div>
  <p style="text-align: justify">
    The Family a Epitech Nice group of student passionate about the Fast & Furious saga.
    <br><br>
    This is our first Angular Experience
  </p>
</div>
<div class="row">
  <div class="column">
    <img src="assets/baptiste.tougouri%20(1).jpg" alt="Baptiste-Tougouri" style="width:20%">
    <p>Baptiste Tougouri</p>
  </div>
  <div class="column">
    <img src="assets/clyde.guillot%20(1).jpg" alt="Clyde-Guillot" style="width:20%">
    <p>Clyde Guillot</p>
  </div>
  <div class="column">
    <img src="assets/martin.vantalon.jpg" alt="Martin-Vantalon" style="width:20%">
    <p>Martin Vantalon</p>
  </div>
  <div class="column">
    <img src="assets/ryan.chamayrac%20(1).jpg" alt="Ryan-Chamayrac" style="width:20%">
    <p>Ryan Chamayrac</p>
  </div>
</div>
