<div class="module">
  <div class="ff-background">
    <h1>About us</h1>
    <h2>The family</h2>
  </div>
  <div class="space-div-5"></div>
  <div class="center-div">
    <h3>Who are we ?</h3>
    <div class="space-div-1"></div>
    <p style="text-align: center">
      The Family is an Epitech Nice group of student passionate about the Fast & Furious saga.
      <br><br>
      This is our first Angular Experience
    </p>
  </div>
  <div class="space-div-5"></div>
  <div class="center-div">
    <h3>The best drivers in the world</h3>
    <div class="row">
      <div class="column">
        <img src="assets/baptiste.tougouri%20(1).jpg" alt="Baptiste-Tougouri" style="width:40%">
        <p>Baptiste Tougouri<br>car: Peugeot 206 (550hp)</p>
      </div>
      <div class="column">
        <img src="assets/clyde.guillot%20(1).jpg" alt="Clyde-Guillot" style="width:40%">
        <p>Clyde Guillot<br>car: Renault Twingo (551hp)</p>
      </div>
      <div class="column">
        <img src="assets/martin.vantalon.jpg" alt="Martin-Vantalon" style="width:40%">
        <p>Martin Vantalon<br>bike: Kawasaki ER6N (150hp)</p>
      </div>
      <div class="column">
        <img src="assets/ryan.chamayrac%20(1).jpg" alt="Ryan-Chamayrac" style="width:40%">
        <p>Ryan Chamayrac<br>car: Daewoo ??? (1001hp)</p>
      </div>
  </div>
</div>
</div>
