<div class="module">
  <div class="ff-background">
    <h1>Fast & Furious (en Y)</h1>
    <h2>Welcome to the family</h2>
  </div>
  <div class="space-div-5"></div>
  <div class="center-div">
    <h3>ABOUT THE WEBSITE</h3>
    <div class="space-div-1"></div>
    <p style="text-align: justify">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer augue ante, vehicula eget finibus et, cursus vel mi. Curabitur ipsum leo, fermentum sed aliquet sed, sollicitudin eu nunc. Donec turpis dui, aliquam eget augue in, porta imperdiet lacus. Donec ex leo, ultricies ac felis eu, tempus sollicitudin neque. Aliquam erat volutpat. Ut congue vestibulum lorem, sed feugiat nulla fringilla et. Sed ac elementum enim. Praesent fermentum turpis nec augue fringilla, eget vestibulum lectus varius.<br><br> Nam elementum lectus in nunc maximus fringilla. Phasellus tempor, felis sit amet semper sodales, sem augue elementum elit, sit amet faucibus odio urna id dolor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed ut volutpat justo. Maecenas non felis nulla. Mauris facilisis orci a nisl hendrerit, eu condimentum magna tempor.
      <br><br>Nam iaculis mi a est interdum convallis. Nunc eu placerat massa. Fusce sagittis nisi et ante fermentum, quis malesuada orci aliquet. Duis sed commodo sem. Duis efficitur quam et velit porta finibus. Duis eget condimentum mi. Quisque placerat nulla quis felis faucibus porta. Integer vel odio tellus. Suspendisse urna turpis, euismod in suscipit eget, sodales id enim. Nullam sed suscipit enim. Etiam et enim nec felis porta vulputate sed vitae sapien.
    </p>
  </div>
  <div class="space-div-5"></div>
  <div class="center-div">
    <h3>LAST DOM'S BIG GAMOS</h3>
    <app-caroussel limit="3" filter=""></app-caroussel>
  </div>
</div>
