/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  font-family: Raleway, sans-serif !important;
}

h1, h2, h3, h4 {
  margin: 0;
}
/* for sidenav to take a whole page */
html, body {
  margin: 0;
  height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #c00d0d;
}

.center-div {
  padding: 0 10%;
  text-align: center;
}

/*======================
    404 page
=======================*/


.page_404{
  padding:40px 0; background:#fff;
}

.bg_404{
  background-image: url(https://media.giphy.com/media/v1HVvijXJpGsE/giphy.gif);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  padding: 20% 0;
}

.link_404{
  color: #fff!important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}

.ff-background {
  height: 200px;
  background-image: url("src/assets/IMG_2377.JPG");
  background-size: cover;
  background-position: 50% 10%;
}

.ff-background h1, .ff-background h2 {
  color: white;
}

.space-div-5 {
  margin-top: 5%;
}

.space-div-1 {
  margin-top: 1%;
}

.module, .module:active {
  cursor: url('https://findicons.com/files/icons/1012/racing_cars/48/dodge.png'), auto;
}
